@page
@model CarManagementUI.Pages.CustomerPages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CarInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarInformation.BrandId" class="control-label"></label>
                <select asp-for="CarInformation.BrandId" class ="form-control" asp-items="ViewBag.BrandId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarInformation.CarDescription" class="control-label"></label>
                <input asp-for="CarInformation.CarDescription" class="form-control" />
                <span asp-validation-for="CarInformation.CarDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarInformation.SeatNumber" class="control-label"></label>
                <input asp-for="CarInformation.SeatNumber" class="form-control" />
                <span asp-validation-for="CarInformation.SeatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarInformation.YearCreate" class="control-label"></label>
                <input asp-for="CarInformation.YearCreate" class="form-control" />
                <span asp-validation-for="CarInformation.YearCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarInformation.CarColor" class="control-label"></label>
                <input asp-for="CarInformation.CarColor" class="form-control" />
                <span asp-validation-for="CarInformation.CarColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarInformation.CarStatus" class="control-label"></label>
                <input asp-for="CarInformation.CarStatus" class="form-control" />
                <span asp-validation-for="CarInformation.CarStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
